Repository cvs-health/aequilibrium: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbqa-black, nbqa-isort, black, isort

nbqa-black:
  name: nbqa-black
  language: python
  entry: nbqa
  args:
  - black

nbqa-isort:
  name: nbqa-isort
  language: python
  entry: nbqa
  args:
  - isort --profile black

black:
  name: black
  language: python
  entry: black

isort:
  name: isort
  language: python
  entry: isort

move over from master
  aequilibrium/results.py
  aequilibrium/visualize.py
  docs/Examples/Quickstart.ipynb
Due: nbqa-black, nbqa-isort, black, isort

release v 1.0.1
  dist/aequilibrium-1.0.1-py3-none-any.whl
  dist/aequilibrium-1.0.1.tar.gz
  docs/Release Notes/index.rst
  pyproject.toml
Due: none

fixed emails
  pyproject.toml
Due: none

fresh history
  .gitignore
  .pre-commit-config.yaml
  .pylintrc
  .python-version
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
  aequilibrium/__init__.py
  aequilibrium/balance.py
  aequilibrium/dataset.py
  aequilibrium/model.py
  aequilibrium/results.py
  aequilibrium/utils/__init__.py
  aequilibrium/utils/api_wrapper.py
  aequilibrium/visualize.py
  dist/aequilibrium-1.0.0-py3-none-any.whl
  dist/aequilibrium-1.0.0.tar.gz
  dist/aequilibrium-1.0.1-py3-none-any.whl
  dist/aequilibrium-1.0.1.tar.gz
  docs/Examples/Quickstart.ipynb
  docs/Examples/data/kaggle_stroke_dataset.csv
  docs/Examples/data/kaggle_stroke_results.csv
  docs/Examples/demo_notebook.ipynb
  docs/Examples/index.rst
  docs/Release Notes/index.rst
  poetry.lock
  pyproject.toml
  tests/__init__.py
  tests/test_data/__init__.py
  tests/test_dataset.py
  tests/test_package.py
  tests/test_results.py
Due: nbqa-black, nbqa-isort, black, isort

new branch
  .gitignore
  .pre-commit-config.yaml
  .pylintrc
  .python-version
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
  aequilibrium/__init__.py
  aequilibrium/balance.py
  aequilibrium/dataset.py
  aequilibrium/model.py
  aequilibrium/results.py
  aequilibrium/utils/__init__.py
  aequilibrium/utils/api_wrapper.py
  aequilibrium/visualize.py
  dist/aequilibrium-1.0.0-py3-none-any.whl
  dist/aequilibrium-1.0.0.tar.gz
  dist/aequilibrium-1.0.1-py3-none-any.whl
  dist/aequilibrium-1.0.1.tar.gz
  docs/Examples/Quickstart.ipynb
  docs/Examples/data/kaggle_stroke_dataset.csv
  docs/Examples/data/kaggle_stroke_results.csv
  docs/Examples/demo_notebook.ipynb
  docs/Examples/index.rst
  docs/Release Notes/index.rst
  poetry.lock
  pyproject.toml
  tests/__init__.py
  tests/test_data/__init__.py
  tests/test_dataset.py
  tests/test_package.py
  tests/test_results.py
Due: nbqa-black, nbqa-isort, black, isort

fixed strata calculation to round correclty
  aequilibrium/results.py
  docs/Examples/Quickstart.ipynb
  docs/Examples/demo_notebook.ipynb
Due: nbqa-black, nbqa-isort, black, isort

forgot to chagne version
  dist/aequilibrium-1.0.2-py3-none-any.whl
  dist/aequilibrium-1.0.2.tar.gz
  pyproject.toml
Due: none

added release notes
  docs/Release Notes/index.rst
Due: none

implemented target variable binary check and testing
  aequilibrium/dataset.py
  tests/test_dataset.py
Due: black, isort

added open source blog notebook
  docs/Examples/demo_notebook.ipynb
Due: nbqa-black, nbqa-isort

format fixes
  docs/Examples/imbalanced_classification_blog.ipynb
Due: nbqa-black, nbqa-isort

fixed balacne
  docs/Examples/imbalanced_classification_blog.ipynb
Due: nbqa-black, nbqa-isort

Path conditions:
  nbqa-black: any of: \.ipynb$
  nbqa-isort: any of: \.ipynb$
  black: any of: \.py$
  isort: any of: \.py$
